<a href="https://colab.research.google.com/github/21501/bmt_python/blob/main/21501_11%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
dates = pd.date_range('20210514', periods=6)
dates

DatetimeIndex(['2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
               '2021-05-18', '2021-05-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) 
df

                   A         B         C         D
2021-05-14  0.602186  1.204132  0.359264  1.027463
2021-05-15 -1.172688 -0.860485  0.256832  0.648323
2021-05-16 -1.534028  0.021475 -0.363917 -1.619678
2021-05-17  0.554636 -1.429508  0.736633 -0.679190
2021-05-18 -0.808897  0.585424 -0.900120 -0.015503
2021-05-19  2.265605  0.103637  0.736993  0.270869

In [ ]:
df.mean()

A   -0.015531
B   -0.062554
C    0.137614
D   -0.061286
dtype: float64

In [ ]:
df.apply(np.cumsum, axis=0)

                   A         B         C         D
2021-05-14  0.602186  1.204132  0.359264  1.027463
2021-05-15 -0.570501  0.343647  0.616096  1.675787
2021-05-16 -2.104529  0.365121  0.252179  0.056109
2021-05-17 -1.549893 -1.064387  0.988812 -0.623081
2021-05-18 -2.358791 -0.478963  0.088691 -0.638585
2021-05-19 -0.093186 -0.375326  0.825685 -0.367715

In [ ]:
print(df.apply(lambda x: x.max() - x.min()))

A    3.799632
B    2.633640
C    1.637114
D    2.647142
dtype: float64

In [ ]:
s = pd.Series(np.random.randint(1, 7, size = 600))
s.value_counts()

4    14
1    13
5    12
3    11
2    10
dtype: int64

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]

In [ ]:
 df[3:7]

          0         1         2         3
3  0.822280  1.461629  2.882080 -0.586220
4  0.729405  0.408332 -1.383651 -1.394936
5 -1.030120 -0.049348  0.996634  0.384273
6 -1.411665 -1.295511 -0.144512  1.636742

In [ ]:
df[7:]

          0         1         2         3
7 -1.918741 -1.483185 -1.020768 -0.183361
8 -0.761340 -0.242725  1.446460 -1.797701
9 -1.147833  0.061788  1.559876 -0.773886

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]

In [ ]:
pieces[0]

          0         1         2         3
0 -0.474285  0.643566  0.216701  1.981105
1 -0.562003 -0.021431  0.004486  0.712857
2  0.361766  1.487499 -0.985889  0.380732

In [ ]:
left = pd.DataFrame(
    {
        'key':['foo', 'foo'],
        'lval': [1, 2]
    }
    )
right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})

In [ ]:
left

   key  lval
0  foo     1
1  foo     2

In [ ]:
right

   key  rval
0  foo     4
1  foo     5

In [ ]:
pd_merge = pd.merge(left, right, on = 'key')

In [ ]:
df

          0         1         2         3
0 -0.474285  0.643566  0.216701  1.981105
1 -0.562003 -0.021431  0.004486  0.712857
2  0.361766  1.487499 -0.985889  0.380732
3  0.822280  1.461629  2.882080 -0.586220
4  0.729405  0.408332 -1.383651 -1.394936
5 -1.030120 -0.049348  0.996634  0.384273
6 -1.411665 -1.295511 -0.144512  1.636742
7 -1.918741 -1.483185 -1.020768 -0.183361
8 -0.761340 -0.242725  1.446460 -1.797701
9 -1.147833  0.061788  1.559876 -0.773886

In [ ]:
s = df.iloc[3]
s

0    0.822280
1    1.461629
2    2.882080
3   -0.586220
Name: 3, dtype: float64

In [ ]:
print(df.append(s, ignore_index=True))