<a href="https://colab.research.google.com/github/21501/bmt_python/blob/main/21501_10%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# 1. series 생성

s = pd.series( [1, 3, 5, np.nan, 6, 8] )
a = [1, 3, 5, np.nan, 6, 8]
s

In [ ]:
type(a)

In [ ]:
tes = pd.date_range('20210507',periods=6)
dates

In [ ]:
df = pd.DateFrame(np.randon.randn(6,4)), index=dates 
df

In [ ]:
df = pd.DateFrame(np.randon.randn(6,4), index=dates, columns=['국어,영어,수학,물리']
df

In [ ]:
df = pd.DateFrame(np.randon.randn(6,4), index=dates, columns=list('ABCD')
df

In [ ]:
dates = pd.date_range('20201113', periods=6)

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [ ]:

dates = pd.date_range('20201113', periods=6)

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

print(df);print()

In [ ]:
df = pd.DataFrame(
    {
        'A' : ['one', 'one', 'two', 'three'] * 3,
        'B' : ['A', 'B', 'C'] * 4,
        'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar' ] * 2,
        'D' : np.random.randn(12),
        'E' : np.random.randn(12)
    }
)

print(df);print()

In [ ]:

rng = pd.date_range('11/14/2020', periods=5, freq='D') # 1일당 5개 데이터 뽑음 

ts = pd.Series(np.random.randn(len(rng)), rng)

print(ts);print()

ts_utc = ts.tz_localize('UTC') # UTC 시간 표현
print(ts_utc);print()

# https://rfriend.tistory.com/505
ts_utc_us=ts_utc.tz_convert('Asia/Seoul') # 다른 시간대로 변환
print(ts_utc_us);print()

In [ ]:
rng = pd.date_range('11/14/2020', periods=5, freq='M') # 월별 5개 데이터 뽑음 

ts = pd.Series(np.random.randn(len(rng)), rng)

print(ts);print()

ps = ts.to_period()
print(ps);print()

print(ps.to_timestamp())